language: node_js
cache:
  yarn: true
  directories:
    -node_modules
notifications:
  email: false
node_js:
  - "node"
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script:
  - npm run test && npm run build
after_success:
  - npm run semantic-release\
branches:
  except:
    - /^v\d+\.\d+\.\d+$/